{% extends "home/home_base.html" %}
{% block home_content %}
    <div class="workspace-card">
        <h1 class="text-gray-200  text-center text-xl mb-3">
            &#128640 Witaj w <span class="font-semibold text-lime-300">Opera lab</span> &#128640
            <br>
            Nowoczenym systemie zarządzania informacją laboratoryjną - LIMS.
        </h1>
        <p class="mb-3 text-justify">
            OperaLab stanowi nowoczesny <span class="font-semibold text-gray-100">Laboratory Information Management System (LIMS)</span> zaprojektowany z myślą o kompleksowym wsparciu pracy laboratoriów badawczych.
            System realizuje standardowe funkcje LIMS, takie jak rejestracja próbek, badań oraz generowanie raportów i sprawozdań z wynikami. Ponadto oferuje rozszerzony zestaw narzędzi umożliwiających pełne zarządzanie siecią laboratoriów - w tym zarządzanie personelem oraz obsługę klientów.
        </p>
        <p class="mb-3">
            &#128204<span class="font-semibold text-gray-100">Panel klienta</span> pozwala na:
            <br>
            &nbsp &#128073 tworzenie, zapisywanie i wysyłanie zleceń badawczych,
            <br>
            &nbsp &#128073 śledzenie statusów realizacji zleceń,
            <br>
            &nbsp &#128073 tworzenie bazy budów i zarządzanie nimi,
            <br>
            &nbsp &#128073 odbieranie wyników w formie raportów i sprawozdań.
        </p>
        <p>
            &#128204<span class="font-semibold text-gray-100">Panel obserwatora</span> zapewnia wgląd w przepływ danych oraz prezentuje kluczowe informacje w postaci czytelnych statystyk i podsumowań, umożliwiając sprawne monitorowanie pracy laboratoriów w całej sieci.
        </p>
    </div>
{% endblock home_content %}
