<nav class="bg-neutral-900 text-gray-100 flex justify-between items-center border-b border-gray-600">
    <div class="flex items-stretch">
        <a href="{% url user.is_authenticated|yesno:'home:logged_in,home:home' %}"
           class="nav-link font-semibold w-28 text-center">Opera lab</a>
        {% if nav_top_links %}
            {% for item in nav_top_links %}
                <a href="{{ item.url }}"
                   class="nav-link {% if item.active %}bg-slate-800 text-teal-300{% else %}text-gray-300 hover:text-white{% endif %}">
                    {{ item.label }}
                </a>
            {% endfor %}
        {% endif %}
    </div>
    <div class="flex items-center gap-3">
        {% if user.is_authenticated %}
            <a href="{% url 'users:profile_settings' %}"
               class="nav-link text-gray-400">
                {{ user.first_name|default:user.username }}
                {% if user.last_name %}{{ user.last_name }}{% endif %}
            </a>
            <a href="{% url 'home:logout' %}" class="nav-link text-blue-300">Wyloguj sie</a>
        {% else %}
            <a href="{% url 'home:login' %}" class="nav-link text-blue-300">Zaloguj sie</a>
        {% endif %}
    </div>
</nav>
