<!DOCTYPE html>
{% load static tailwind_tags %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Krótki opis strony">
        <meta name="keywords" content="django, tailwind, website">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% tailwind_css %}
        <title>operaLab</title>
    </head>
    <body class="bg-gradient-to-br from-teal-900 via-slate-800 to-fuchsia-950 to-90% text-gray-300 h-screen flex flex-col">
        {% include "partials/_nav.html" %}
        {% block header %}
            {# #}
        {% endblock header %}
        <div class="flex w-full flex-1">
            {% if user.is_authenticated and user.role %}
                <aside class="w-28 bg-neutral-900  flex-shrink-0 border-r border-gray-600">
                    {% block aside %}
                        {# #}
                    {% endblock aside %}
                </aside>
            {% endif %}
            <main class="flex flex-1 justify-center items-start p-8 overflow-y-auto">
                {% block content %}
                    {# #}
                {% endblock content %}
            </main>
        </div>
    </body>
</html>
